## 1. Lambda functions

In [2]:
x = lambda x:x**2

In [3]:
x(10)

100

In [4]:
a = lambda x,y:x+y
a(4,5)

9

#### lambda funtion difference with normal function

1. lambda has no return value
2. one line 
3. not used for code reusability
4. no name

#### Why use lambda: 
##### Ans. we use lambda to perform higher order functions.

In [13]:
# check if input string's first letter is a

c = lambda x:x[0] =='a'
c('amogh')

True

In [14]:
c('kini')

False

In [15]:
b = lambda x: "even" if x%2==0 else "odd"
print(b(3))
print(b(4))

odd
even

### Higher order functions
##### functions which requires function as input or functino which returns function as output

In [29]:
# Find
# 1. Sum of even numbers
# 2. Sum of odd numbers
# 3. Sum of numbers divisible by 3
l = [11,14,21,54,45,12,89,48,65,76]

In [30]:
def find_sum(l):
    sum_even = 0
    sum_odd = 0
    sum_div3 = 0
    for i in l:
        if i%2 == 0:
            sum_even += i
        if i%2 != 0:
            sum_odd += i
            
        if i%3 == 0:
            sum_div3 += i
                
    return (sum_even,sum_odd,sum_div3)

for i in find_sum(l):
    print(i)

204
231
180

#### Now we will implement the same logic using lambda functinos and higher order functions(Which takes function as input)

In [34]:
def find_sum_hof(func,l):
    total = 0
    
    for i in l:
        if func(i):
            total += i
    return total

x = lambda x:x%2 == 0
y = lambda x:x%2 != 0
z = lambda x:x%3 == 0

print(find_sum_hof(x,l))
print(find_sum_hof(y,l))
print(find_sum_hof(z,l))

204
231
180

### Python built Higher Order Functions
1. Map
2. Filter
3. Reduce

### 1. Map() - We can pass a function and iterable to the map() function and it will map the iterable with given function.

In [36]:
l = [1,2,3,4,5,6,7,8,9]

map(lambda x:x*2,l)

#### Map function will return a object hence we need to typecast it to a list

In [38]:
list(map(lambda x:x*2,l))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [41]:
list(map(lambda x:x%2==0,l))

[False, True, False, True, False, True, False, True, False]

### 2. Filter() - filter fitlers the data based on given conditions whereas map performs operation on each item of given iterable.

In [43]:
list(filter(lambda x:x>4,l))

[5, 6, 7, 8, 9]

In [45]:
list(map(lambda x:x>4,l))
### This is the difference between map and filer. map func returns each element of iterable

[False, False, False, False, True, True, True, True, True]

In [46]:
fruits = ['apple','orange','mango','guava']

In [49]:
list(filter(lambda x: 'e' in x,fruits))

['apple', 'orange']

In [50]:
### 3. Reduce()

In [53]:
from functools import reduce

l

reduce(lambda x,y: x+y,l)

45

### here reduce function will reduce the input list on each iteration as follows.

1. [1,2,3,4,5,6,7,8,9] 
2. [3,3,,4,5,6,7,8,9]
3. [6,4,5,6,7,8,9]
4. [10,5,6,7,8,9]
5. [15,6,7,8,9]
6. [21,7,8,9]
7. [28,8,9]
8. [36,9]
9. [45]

In [56]:
# example 2
l1 = [12,33,56,11,21,56]

reduce(lambda x,y: x if x>y else y,l1)

56

In [57]:
reduce(lambda x,y: x if x<y else y,l1)

11

## List comprehensions

In [58]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [59]:
l_new = [i*2 for i in l]
l_new

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [60]:
l3 = [i for i in range(10) if i %2 == 0]

In [61]:
l3

[0, 2, 4, 6, 8]

In [62]:
fruits

['apple', 'orange', 'mango', 'guava']

In [65]:
l4 = [ i for i in fruits if i[0] == 'o']

In [66]:
l4

['orange']

## Dictionary comprehensinos

In [67]:
d = {"name":"Amogh",
    "Gender":"Male",
    "Age":23}

In [68]:
newdict = {i:j for i,j in d.items() if len(i) > 3}

In [69]:
newdict

{'name': 'Amogh', 'Gender': 'Male'}

In [70]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [72]:
newdict = {i:i**2 for i in l}
newdict

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}