Rules of dictionary
1. Dictionary has no indexing
2. Dictionary is a mutable object
3. Keys -> immutable, values - mutable
3. keys should be unique

1. Mutable datatypes - list, sets,dictionary
2. immutable datatypes - string, tuple, int, float, boolean, complex

### Create

In [1]:
d = dict()

In [2]:
d = {}

In [3]:
d = {"Name":"Amogh","Age":17}

In [4]:
d

{'Name': 'Amogh', 'Age': 17}

In [5]:
# Rule 3
d1 = {[1,2,3]:"Amogh"}

TypeError: unhashable type: 'list'

In [6]:
d1 = {(1,2,3),"Amogh"}

In [7]:
d1

{(1, 2, 3), 'Amogh'}

In [8]:
d2 = {"Name": "Amogh",
      "Name":"Kini"}

In [9]:
d2

{'Name': 'Kini'}

In [10]:
d3 = {"Name":"Amogh","age":23,"Marks":{"M1":56,"P1":56,"C1":45}}

In [11]:
d3

{'Name': 'Amogh', 'age': 23, 'Marks': {'M1': 56, 'P1': 56, 'C1': 45}}

### Access element in dictionary

In [12]:
d1

{(1, 2, 3), 'Amogh'}

In [14]:
d3["Name"]

'Amogh'

In [15]:
d3["Marks"]["M1"]

56

In [16]:
d3.get("Name")

'Amogh'

In [21]:
d3.get("Abx")

### Edit

In [22]:
d3["age"] = 24

In [23]:
d3

{'Name': 'Amogh', 'age': 24, 'Marks': {'M1': 56, 'P1': 56, 'C1': 45}}

### Add new key Value pair

In [24]:
d3

{'Name': 'Amogh', 'age': 24, 'Marks': {'M1': 56, 'P1': 56, 'C1': 45}}

In [25]:
d3["Gender"] = "Male"

In [26]:
d3

{'Name': 'Amogh',
 'age': 24,
 'Marks': {'M1': 56, 'P1': 56, 'C1': 45},
 'Gender': 'Male'}

In [27]:
d3["Marks"]["M2"] = 34

In [28]:
d3

{'Name': 'Amogh',
 'age': 24,
 'Marks': {'M1': 56, 'P1': 56, 'C1': 45, 'M2': 34},
 'Gender': 'Male'}

### Delete

In [29]:
d = {}

In [30]:
del d

In [32]:
d

NameError: name 'd' is not defined

In [33]:
del d3["Gender"]

In [34]:
d3

{'Name': 'Amogh', 'age': 24, 'Marks': {'M1': 56, 'P1': 56, 'C1': 45, 'M2': 34}}

In [35]:
d4 = {'Name': 'Amogh', 'age': 24, 'Marks': {'M1': 56, 'P1': 56, 'C1': 45}}

In [37]:
d4.clear()

In [38]:
d4

{}

### Operations

In [40]:
d1

{(1, 2, 3), 'Amogh'}

In [41]:
d2

{'Name': 'Kini'}

In [42]:
d3

{'Name': 'Amogh', 'age': 24, 'Marks': {'M1': 56, 'P1': 56, 'C1': 45, 'M2': 34}}

In [43]:
d1+d2

TypeError: unsupported operand type(s) for +: 'set' and 'dict'

In [44]:
d1*3

TypeError: unsupported operand type(s) for *: 'set' and 'int'

#### Looping

In [45]:
d3

{'Name': 'Amogh', 'age': 24, 'Marks': {'M1': 56, 'P1': 56, 'C1': 45, 'M2': 34}}

In [47]:
for i in d3:
    print(i,":",d3[i])

Name : Amogh
age : 24
Marks : {'M1': 56, 'P1': 56, 'C1': 45, 'M2': 34}

In [48]:
for i,j in d3.items():
    print(i,":",j)

Name : Amogh
age : 24
Marks : {'M1': 56, 'P1': 56, 'C1': 45, 'M2': 34}

In [49]:
for i in d3.keys():
    print(i)

Name
age
Marks

In [50]:
for i in d3.values():
    print(i)

Amogh
24
{'M1': 56, 'P1': 56, 'C1': 45, 'M2': 34}

In [51]:
"Name" in d3

True

In [52]:
"Amogh" in d3

False

In [53]:
len(d3)

3

In [54]:
min(d3)

'Marks'

In [55]:
max(d3)

'age'

In [56]:
sorted(d3)

['Marks', 'Name', 'age']

In [57]:
sorted(d3,reverse=True)

['age', 'Name', 'Marks']